// container()
//   &__container
//     +cache('center960')
//       center(960px, pad:20px)
//
// .header
//   container()
//   &__logo
//     float left
//   &__nav
//     float right
//   &__call
//     float right
//
// .nav
//   list-style-type none
//   &__item
//     display inline-block
//     margin-right 40px
//     &:last-child
//       margin-right 0
//   &__link
//     color #fff


$bWidth
  center($mainWidth,pad:0)

.b-btn
  border none
  border-radius 30px
  background rgba(0,0,0,0.3)
  background-color: rgba(0, 0, 0,0.102);
  outline none
  color #f5f5f5
.theme-red
  text-align center
  height 66px
  border-radius 30px
  color inherit
  font-size 24px
  background #fe887c
  &:hover
    color #fff
    background #fe887c
  &:active
    background #fff
    color #000
    
.theme-popup
  text-align center  
  border-radius 30px
  color inherit
  font-size 20px
  background #fe887c
  &:hover
    color #fff
    background #fe887c
  &:active
    background #fff
    color #000


.l-main
  position relative
  height 1070px
  background url('../images/bg/bg-main.jpg') no-repeat 50% #4A56BC
.b-main
  @extend $bWidth
  height inherit
  ///header
  &__header
    overflow auto

    &_logo
      float left
      width 30%
      margin-top 80px
      color #f5f5f5
      font-size 28px
      text-decoration none
      font-family stolzl
      font-weight lighter

    &_nav
      float left
      width 40%
      margin-top 86px
    &_path
      col(1/3,cycle:3)
      text-align center
      color #f5f5f5
      text-decoration none
      font-size 14px
      font-weight 300
    &_call
      float left
      width 30%
      margin-top 45px
    &_tel
      color #f5f5f5
      margin 0
      text-align center
      font-weight 300
      font-size 28px
    &_btn
      display block
      margin 20px auto 0
      border-radius 30px
      width 220px
      height 50px
      &:hover
        color #fff
        background #fe887c
      &:active
        background #fff
        color #000
        

  ////description
  &__description
    color #f5f5f5
    margin-top 160px
    text-align center
    font-size 58px
    font-weight 400
  &__delivery
    color #f5f5f5
    text-align center
    font-size 24px

  /////stock
  &__stock
    margin-top 150px
    &_title
      color #f5f5f5
      font-size 64px
      text-align center
      margin-top 0
      margin-bottom 40px
    &_offer
      margin-top 0
      color #f5f5f5
      font-size 28px
      text-align center
    &_form
      width 950px
      height 120px
      border-radius 120px
      background-color rgba(0, 0, 0,0.202)
      margin 0 auto
      padding 25px 20px
      color #f5f5f5
      font-size 14px
    &_input
      col(1/3,cycle:3)
      outline none
      border-radius 30px
      border none
      background-color rgba(255, 255, 255, 0.051)
      height 66px
      padding-left 20px
      color inherit
      font-size inherit
    &_btn
      col(1/3,cycle:3)
      text-align center
      height 66px
      border-radius 30px
      color inherit
      font-size 24px
      background #fe887c

/////////////////product

.l-products
  background #f5f5f5
  overflow auto
  height 800px
.b-products
  @extend $bWidth
  &__title 
    text-align center
    font-size 52px
    color #474747
    font-weight 200
  &__tabs
    margin-top 60px
    
  &__list
    margin-top 60px

  &__item
    height 460px
    col(1/4,cycle:4)
    background #fff
    border-radius 2px
.product
  &__title
    margin-top 40px
    margin-bottom 40px
    text-align center
    color #474747
    font-weight 300
    font-size 18px
  &__image
    display block
    margin 0 auto
  &__price
    margin-top 60px
    text-align center
    color #474747
    font-weight 300
    font-size 36px
  &__btn
    display block
    margin 30px auto 0
    width 130px
    height 35px
    color #fe887c
    background none
    border 2px solid #fe887c
    text-align center
    &:hover
      color #fff
      background #fe887c
    &:active
      background #fff
      color #000

.tabs   
  &__list
    width 830px
    overflow auto
    margin 0 auto
    border-radius 120px
    background #fff
    list-style-type none
    padding 10px 10px
  &__item
    col(1/4)
    border-radius 30px    
    outline none
    &.ui-state-active
      box-shadow 1px 1px 3px #000
      background #fe887c
    &.ui-state-active a
      color #fff
    &.ui-state-hover
      color #fff
      background #fe887c  
  &__link
    color #000
    display block
    margin 0 auto
    text-align center
    outline none
    text-decoration none
    padding 20px 0
  
.l-stock
  height 700px
  background url('../images/bg/avengers.png') no-repeat 50% #434254
  background-size 1300px
  background-position-y 27px
  background-position-x 67px
.b-stock
  @extend $bWidth
  height 700px
  &__container
    color #fff
    width 580px
    float right
  &__title
    margin-top 90px
    text-align center
    font-weight 200
    font-size 52px
  &__description    
    font-weight 200
    font-size 20px
    line-height 2.098
    text-align center
  &__kit    
    border-radius 10px
    background-color rgba(52, 52, 65,0.902)
    width 575px
    height 212px
    margin 0 auto
    
  &__btn
    display block
    margin 30px auto 0
    width 272px
.kit
  &__title
    font-size 14px 
    line-height 2.854
    text-align center
    padding-top 25px
    padding-bottom 25px
    
  &__row
    height 50px
    
  &__collumn
    col(1/6,cycle:6)
    position relative
  &__image
    display block
    margin 0 auto
  &__name    
    position absolute
    top 40px
    width 100%   
    font-size 12px  
    line-height 1.746
    text-align center    
    &.__1
      left 8px
    &.__2
      left 8px
    &.__3
      left 8px
    &.__4
      left 8px
    &.__5
      left 8px
    &.__6
      left 8px
  

.l-rewievs
  height 580px
.b-rewievs
  @extend $bWidth
  position relative
  &__axe
    position absolute
    top -200px
    right -300px
  &__title   
    margin-top 65px
    font-size 52px   
    font-weight 200 
    color rgb(71, 71, 71)
    line-height 1.538
    text-align center
  &__row
    display block
    overflow auto
    margin-top 120px
  &__collumn
    col(1/2,cycle:2)
    position relative
    &:before
      position absolute
      top 0
      left 120px
      content url('../images/bg/icons.png')
      z-index 1
  &__span
    float left    
    &.__1
      width 30%
    &.__2
      width 70%
    
  &__images
    position relative
    display block
    margin 0 auto
    z-index 10
  &__name    
    font-size 18px
    color rgb(71, 71, 71)
    line-height 1.444
    text-align left
  &__text
    font-size 13px
    color rgb(71, 71, 71)
    line-height 2
    text-align left
  


.l-footer
  overflow auto
  background #343434
.b-footer 
  @extend $bWidth
  &__logo
    display inline-block 
    font-weight 200   
    font-size: 28.233px
    color rgb(245, 245, 245)
    line-height 1.558
    text-align center
    text-decoration none
    outline none
    margin-right 520px
  

  &__tel
    display inline-block
    font-weight 300    
    font-size 28.233px    
    color: rgb(245, 245, 245)
    line-height 1.558
    text-align center
 

  &__btn
    display inline-block
    color #fff
    font-size 16px
    font-weight 300
    width 220px
    margin-left 40px

        