



.l-main
	.b-main 
		.b-main__header
			
			a.b-main__header_logo(href="#") Sup-Icons
			
			nav.b-main__header_nav
				a.b-main__header_path(href="#") Главная
				a.b-main__header_path(href="#products") Тематика значков
				a.b-main__header_path(href="#stock") Спецпредложение
			.b-main__header_call
				p.b-main__header_tel 8 967 869 78 28
				button.b-main__header_btn.b-btn.js-popup(data-mfp-src="#js-contactForm") Обратный звонок
		
		h1.b-main__description
			| Оригинальные комплекты значков<br/>супергероев в наличии
		p.b-main__delivery 
			| Доставим в любую точку России
			
		.b-main__stock
			p.b-main__stock_title Акция! 
			p.b-main__stock_offer Любые 2 значка всего за 649 руб.
			form.b-main__stock_form(action="mail.php" method="post")
				input.b-main__stock_input(type="text" placeholder="text" required="required")
				input.b-main__stock_input(type="tel" placeholder="tel" required="required")
				button.b-main__stock_btn.b-btn Заказать
