section.l-products#products
  .b-products
    h2.b-products__title Тематики значков
    
    .b-products__tabs.tabs#tabs
      ul.tabs__list
        li.tabs__item: a.tabs__link(href='#tabs-1') Nunc tincidunt          
        li.tabs__item: a.tabs__link(href='#tabs-2') Proin dolor
        li.tabs__item: a.tabs__link(href='#tabs-3') Aenean lacinia
        li.tabs__item: a.tabs__link(href='#tabs-4') Aenean lacinia
    
    
      #tabs-1

        .b-products__list
          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/iron-man.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/hulk.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/capitan-america.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/spider-man.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать
              
      #tabs-2
        .b-products__list
          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/iron-man.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          
            
      #tabs-3
        .b-products__list
          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/iron-man.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/hulk.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          
      #tabs-4
        .b-products__list
          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/iron-man.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/hulk.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          .b-products__item.product
            p.product__title Железный человек
            img.product__image(src="images/products/capitan-america.png", alt="")
            p.product__price 150 руб.
            button.product__btn.b-btn.js-popup(data-mfp-src="#js-contactForm-4") Заказать

          



