
section.l-rewievs
	.b-rewievs
		img.b-rewievs__axe(src="images/bg/axe.png", alt="")
		h2.b-rewievs__title Отзывы
		.b-rewievs__row
			.b-rewievs__collumn
				span.b-rewievs__span.__1
					img.b-rewievs__images(src="images/rewievs/ava-1.png", alt="")
				span.b-rewievs__span.__2
					p.b-rewievs__name Максим
					p.b-rewievs__text 
						|  Ребята отличные! Работы все очень клёвые, креативные, глаз радуют. Накупила значков,очень всеми довольна,ношу с удовольствием. Отдельное спасибо за приятные сюрпризы,например, за брелок. не пожалела,что сделала заказ и всем рекомендую :)
			.b-rewievs__collumn
				span.b-rewievs__span.__1
					img.b-rewievs__images(src="images/rewievs/ava-2.png", alt="")
				span.b-rewievs__span.__2
					p.b-rewievs__name Аня
					p.b-rewievs__text 
						|  Ребятаааа, все дошло! Все забрал! В живую они смотрятся, конечно, в разы круче! Я даже не думал, что они такие большие! Как раз то, как и хотел! ) удачи вам всем! Еще больше идей, еще больше людей)