
section.l-stock#stock
	.b-stock
		.b-stock__container
			h2.b-stock__title Акция!
			.b-stock__description  
				| Полный комплект "Мстителей"<br/>  всего за<b> 900 рублей!</b> + бесплатная доставка
			.b-stock__kit
				.kit__title В комплект входит:
				.kit__row
					span.kit__collumn
						img.kit__image(src="images/item/iron-man.png", alt="")
						p.kit__name.__1 Железный человек
					span.kit__collumn
						img.kit__image(src="images/item/hulk.png", alt="")
						p.kit__name.__2 Халк
					span.kit__collumn
						img.kit__image(src="images/item/capitan-america.png", alt="")
						p.kit__name.__3 Капитан Америка
					span.kit__collumn
						img.kit__image(src="images/item/superman.png", alt="")
						p.kit__name.__4 Супермен
					span.kit__collumn
						img.kit__image(src="images/item/spider-man.png", alt="")
						p.kit__name.__5 Человек Паук
					span.kit__collumn
						img.kit__image(src="images/item/batman.png", alt="")
						p.kit__name.__6 Бэтмен
			button.b-stock__btn.b-btn.js-popup.theme-red(data-mfp-src="#js-contactForm-2") Заказать