extends layouts/application.jade

//- block config
//- block styles
//- block scripts

block content

	include layouts/main.jade
	include layouts/product.jade
	include layouts/stock.jade
	include layouts/rewievs.jade
	include layouts/footer.jade
	include layouts/popup.jade
  
